body {
    background-color: lightgray;
    display: flex;
    text-align: center;
    margin-top: 5rem;

    //shortcut
    $white: #FFFFFF;
    $size: 30px;

    .alert--Hello {
        top: 21px;
        left: 653px;
        font-weight: bold;
        position: absolute;
        text-align: center;
        color: $white;
        font-size: $size;
    }

    // Design citations
    .articles h2 {
        color: $white;
        font-weight: bold;
    }

    .articles p {

        color: $white;
    }

}
