body {
    background-color: lightgray;
    display: flex;
    text-align: center;
    margin-top: 5rem;
}
.alert-- {
    top: 21px;
    left: 653px;
    font-weight: bold;
    position: absolute;
    text-align: center;
}

html {
    color: white;
    font-weight: bold;
}
