{% extends "base.html.twig" %}
{% import "_macros/alert.html.twig" as Dialog%}

{% block body %}
    {{ Dialog.alert("welcome in the page", "Hello") }}
    {% for article in listArticle %}
        <div class="articles">
            <h2>{{ article.author }}</h2>
            <p>{{ article.content | emoji }}</p>
        </div>
    {% endfor %}
{% endblock %}